@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: gray;
    font-family: 'Comfortaa', cursive;
}

.nav {
    height: 120px;
    background: black;
    color: white;
    position: sticky;
    top: 0;
}

.nav-inner {
    float: left;
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    height: 120px;
    top: 0;
}

.logo {
    float: left;
    width: 30%;
    padding: 0 40px;
}

.logo p {
    padding: 0;
}

nav {
    float: left;
    width: 70%;
    text-align: right;
    padding: 40px;
}

nav a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.header {
    background-color: darkgray;
    color: white;
    text-align: center;
    padding: 20px;
}

.left {
    float: left;
    width: 20%;
}

.nav-left a {
    background-color: darkgray;
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.right {
    float: left;
    width: 20%;
    background-color: darkgray;
    color: white;
    padding: 15px;
    margin: 10px 0;
}

.footer {
    background-color: darkgray;
    color: white;
    padding: 10px;
    clear: both;
}

footer {
    width: 60%;
    margin: 0 auto;
}

@media (min-width: 621px) and (max-width: 1000px) {
    .main {
        width: 80%;
    }

    .right {
        width: 100%;
    }
}

@media only screen and (max-width: 620px) {
    .main, .right, .left {
        width: 100%;
    }
}


