body {
    background: grey;
}

h1, h2, h2 {
    font-family: Airal, Helvetica, sans-serif;
}

h4 {
    font-size: 20px;
}

.container {
    margin: 0 auto;
    width: 1000px;
    background: white;
    padding: 20px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    color: black;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

a.special-link {
    color: yellow;
}

.hover-div {
    color: white;
    background-color: blue;
    padding: 10px;
}

.hover-div:hover {
    background-color: black;
}

p:first-child {
    color: red;
}

p:last-child {
    font-weight: bold;
}

.tooltip p {
    display: none;
    background-color: yellow;
    padding: 10px;
}

.tooltip:hover p {
    display: block;
}

.pseudo-elements::first-letter {
    color: red;
}

.pseudo-elements::before {
    content: "READ THIS: ";
    font-weight: bold;
}

.pseudo-elements::after {
    content: "- REMEMBER THIS";
    font-weight: bold;

}