@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Comfortaa', cursive;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

section{
    width: 100vw;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

.nav-menu {
    padding: 0;
    display: block;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: lightgray;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: rgba(0, 0, 0, .2);
    height: 56px;
    width: 100%;
    overflow: hidden;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
}


.nav-menu a,
.nav-menu a:focus {
    width: 56px;
}

.nav-menu a span,
.nav-menu a:focus span {
    display: none;
}


.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
    color: lightgray;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
    color: lightgray;
    background: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
    width: 100%;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
    display: block;
}

#person {
    width: 100%;
    height: 100vh;
    background: url("../img/person.jpg") top right no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#projects{
    width: 100%;
    height: 100vh;
    background: url("../img/2109.webp") top right no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#person h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(0, 0, 0, 0.6);
}

#person p {
    color: rgba(0, 0, 0, 0.6);
    margin: 15px 0 0 0;
    font-size: 26px;
}

#person .social-links {
    margin-top: 30px;
}

#person .social-links a {
    font-size: 24px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
}

.container{
    margin-left: 17%;
}

#projects h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 0 100px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.9);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
}