@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Comfortaa', cursive;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

section{
    width: 100vw;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

.nav-menu {
    padding: 0;
    display: block;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: lightgray;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: rgba(0, 0, 0, .2);
    height: 56px;
    width: 100%;
    overflow: hidden;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
}


.nav-menu a,
.nav-menu a:focus {
    width: 56px;
}

.nav-menu a span,
.nav-menu a:focus span {
    display: none;
}


.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
    color: lightgray;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
    color: lightgray;
    background: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
    width: 100%;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
    display: block;
}

section{
    width: 100%;
    height: 100vh;
    position: relative;
}

#person {
    background: url("../img/person.jpg") no-repeat fixed top right;
    background-size: cover;
}

#abt{
    background: url("../img/dark_mountains.webp") no-repeat fixed top right;
    background-size: cover;
}


#abt_2{
    background: url("../img/dark_mountains.webp") no-repeat fixed top right;
    background-size: cover;
}


#experience{
    background: url("../img/snow_mountains.jpg") no-repeat fixed top right;
    background-size: cover;
}

#resume{
    background: url("../img/colorful_mountains.jpg") no-repeat fixed top right;
    background-size: cover;
}

#contact{
    background: url("../img/city.jpg") no-repeat fixed top right;
    background-size: cover;
}

section h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
}

#person h1 {
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
}

#person p {
    color: rgba(0, 0, 0, 0.6);
    margin: 15px 0 0 0;
    font-size: 26px;
}

@media (max-width: 575.98px) {
    #person p{
        display: none;
    }
}

#person .social-links {
    margin-top: 30px;
}

#person .social-links a {
    font-size: 24px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
}

.intro{
    margin-left: 17%;
}

#abt h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 0 100px;
}

#abt_2 h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 0 100px;
}


#experience h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-bottom: 50px;
}

#experience h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(0, 0, 0, 0.6);
    display: inline;
    margin-left: 5%;
    text-align: center;
}

#resume h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 100px;
    transition: 1s;
}

#contact h2 {
    color: rgba(0, 0, 0, 0.6);
    padding-top: 50px;
}

#contact p {
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(0, 0, 0, 0.9);
}

.form-control{
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, .2);
    color: white;
}

.form-control:focus{
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgba(255, 255, 255, .5);
    color: white;
    box-shadow: none;
}

.form-control::placeholder{
    color: rgba(255, 255, 255, .5);
}

label{
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 0;
}

.submit{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, .2);
    color: rgba(255, 255, 255, 0.5);
}

.submit:hover{
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgba(255, 255, 255, .5);
}

.submit:focus, .submit:active{
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-color: rgba(255, 255, 255, 0.8) !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
}

#experience div.container i.bx-trophy{
    margin-left: 15%;
    font-size: 100px;
    display: inline;
    opacity: .7;
    color: black;
}

#resume h1:hover{
    color: rgba(0, 0, 0, .6);
    transition: 1s;
}

.break{
    display: block;
}

footer{
    background-color: #262626;
    bottom: 0;
    color: #666666;
    font-size: 1em;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: -1;
    justify-content: center;
    align-items: center;
}

footer p{
    margin: 0 40px 0 0;
}

footer .social-links a {
    font-size: 24px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.3);
    line-height: 1;
    margin-left: 20px;
    transition: 0.3s;
}